{% load static %}
{% for review in session.interaction_reviews.all %}
<div class="card mb-2">
    <h5 class="card-header">{{ review.interaction.get_peer_review_status_display|capfirst }}</h5>
    <div class="card-body">
        <h5 class="card-title">{{ review.interaction.name | capfirst}}</h5>
        <p>
            <span class="card-text">Author: {{ review.interaction.created_by }}<br></span>
            <span class="card-text">Modified by: {{ review.interaction.last_edited_by }}<br></span>
        </p>
        <p class="text-muted small">{{ review.date_created }}</p>
        <button type="button" data-bs-toggle="modal" data-bs-target="#modal-{{ review.id }}" class="btn btn-outline-primary" aria-labelledby="label-{{ review.id}}" aria-hidden="true">Recommendations</button>
        <a href="{{ review.interaction.get_absolute_url }}" target="_blank" class="btn btn-outline-secondary">Article</a>
    </div>
</div>

<div class="modal fade" id="modal-{{ review.id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="label-{{ review.id }}">{{ review.interaction.name }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <p>{{ review.comment_markdown|safe }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
