{% extends '_base.html' %}
{% load static %}

{% block content %}
<div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold">About neverDrugs.io</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">This project aims to catalogue the adverse interactions that can occur when using common
            anaesthetic drugs in certain rare conditions.</p>
    </div>
    <div class="overflow-hidden" style="max-height: 40vh;">
        <div class="container px-5">
            <img src="{% static 'images/bandaid.svg' %}" class="img-fluid mb-4" alt="bandaid" width="700" height="500"
                loading="lazy">
        </div>
    </div>
</div>
{% endblock content %}