{% extends 'review/_split_view_large.html' %}

{% block left_col %}
<h3 class="display-5 fw-bold">Peer Review</h3>
{% if review_session %}
<a href="{{ review_session.get_absolute_url }}" class="text-decoration-none">&lt; Back to referring session</a>
<div class="row py-3">
    <div class="col-6">
        <h6>Host:</h6>
        <p>{{review_session.host|capfirst}}</p>
        <span id="connection"></span>
    </div>
    <div class="col-6" id="userList">{% include 'review/fragments/review_users.html' %}</div>
</div>
{% endif %}
</div>
<div class="mb-3">
{% block textbox %}{% endblock textbox %}
</div>
{% block buttons %}{% endblock buttons %}
{% endblock left_col %}

{% block right_col %}
<div class="container">
    <div class="row align-items-top d-flex">
        <div class="col-12">
            <div class="pb-3">
                <h1 class="display-5 fw-bold mb-3 text-break">Article: {{ review.interaction.name | capfirst }}</h1>
                <small class="text-muted">Author: {{review.interaction.created_by|capfirst}}</small><br>
                <small class="text-muted">Last edited by {{review.interaction.last_edited_by|capfirst}} on {{ review.interaction.date_modified }}</small>
            </div>
            {% if review.interaction.drugs.all %}
            <div class="alert alert-primary px-4 px-md-5" role="alert">
                <h6 class="alert-heading">Contraindicated:</h6>
                {% for drug in review.interaction.drugs.all %}
                <p class=" mb-0">{{drug.name | capfirst}}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% if review.interaction.secondary_drugs.all %}
            <div class="alert alert-secondary px-4 px-md-5" role="alert">
                <h6 class="alert-heading">Use with caution:</h6>
                {% for drug in review.interaction.secondary_drugs.all %}
                <p class="mb-0">{{drug.name | capfirst}}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="col-12">
            <div class="p-4 p-md-5 border rounded-3 bg-light">
                {% if review.interaction.conditions.all %}
                <div class="mb-3">
                    <h4>Susceptible conditions:</h4>
                    <p>{{ review.interaction.get_condition_string | capfirst }}</p>
                </div>
                {% endif %}
                {% if review.interaction.secondary_conditions.all %}
                <div class="mb-3">
                    <h4>Theoretically associated conditions:</h4>
                    <p>{{ review.interaction.get_secondary_condition_string | capfirst }}</p>
                </div>
                {% endif %}
                <div class="mb-3">
                    <h4>Description:</h4>
                    <p>{{ review.interaction.description_markdown|safe }}</p>
                </div>
                {% if review.interaction.sources.all %}
                <hr class="my-4">
                <h6 class="text-muted"></h6>
                <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#source-list" aria-expanded="false" aria-controls="source-list">
                    View references
                </button>
                <div class="collapse" id="source-list">
                    <div class="row">
                        {% for source in review.interaction.sources.all %}
                        <div class="col-12">
                            <div class="card mt-3">
                                <div class="card-body">
                                    <h5 class="card-title">{{ source.name }}</h5>
                                    <p class="card-text">
                                        {{ source.publication }}
                                        {% if source.year %}<small
                                            class='text-muted'>{{ source.year }}</small>{% endif %}
                                    </p>
                                    {% if source.url %}<a href="{{source.url}}"
                                        class="text-decoration-none">{{ source.url }}</a>{% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock right_col %}