{% load static %}
{% for review in session.interaction_reviews.all %}
<div class="card mb-2">
    <h5 class="card-header">{{ review.interaction.get_peer_review_status_display|capfirst }}</h5>
    <div class="card-body">
        <h5 class="card-title">{{ review.interaction.name | capfirst}}</h5>
        <p>
            <span class="card-text">Author: {{ review.interaction.created_by }}<br></span>
            <span class="card-text">Modified by: {{ review.interaction.last_edited_by }}<br></span>
        </p>
        <p class="text-muted small">{{ review.date_created }}</p>
        <a href="{{ review.interaction.get_absolute_url }}" target="_blank" class="btn btn-outline-primary">Recommendations</a>
        <a href="{{ review.interaction.get_absolute_url }}" target="_blank" class="btn btn-outline-secondary">Article</a>
    </div>
</div>
{% endfor %}