{% extends 'review/_review_detail.html' %}
{% load static %}

{% block textbox %}
<div class="card">
    <div class="card-body" id="reviewCommentTextarea">
        {% if review.update_markdown %}
        {{ review.update_markdown | safe}}
        {% else %}
        <div class="text-muted">Peer review meeting comments will appear in this space</div>
        {% endif %}
    </div>
</div>
{% endblock textbox %}

{% block javascript %}
<script>
const update_url = "{% url 'ajax-update-review' %}?review_id={{ review.id }}{% if review_session %}&session_id={{ review_session.id }}{% endif %}";</script>
<script src="{% static 'js/review_detail.js' %}"></script>
{% endblock javascript %}