{% extends 'review/_split_view_large.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/reviews.css' %}">
{% endblock css %}

{% block left_col %}
<h1 class="fw-bold lh-1 mb-2">Articles Under Review</h1>
<a href="{% url 'session_list' %}" class="text-decoration-none">&lt; Back to all meetings</a>
<div class="list-group pt-2">
    {% for review in reviews %}
    <button class="review-button list-group-item list-group-item-action {% if forloop.first %}active{% endif %}" type="button" id="{{review.id}}">
        <h5 class="mb-1">{{ review.interaction.name }}</h5>
        <small>{{ review.date_created }}</small>
    </button>
    {% endfor %}
</div>
{% endblock left_col %}

{% block right_col %}
<h1 class="fw-bold lh-1 mb-3 pb-2">Review Notes</h1>
{% for review in reviews %}
<div class="review{% if not forloop.first %} hide{%endif%}" id="review-{{review.id}}">
    <div class="card">
        <div class="card-header">
            <h3>{{review.interaction.get_peer_review_status_display}}</h3>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ review.interaction.name }} - Peer review</h5>
            <p class="card-text">{{ review.comment_markdown|safe }}</p>
            <a href="{{review.get_absolute_url}}?session_id={{session.id}}" class="btn btn-primary">Go to review</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock right_col %}

{% block javascript %}
<script src="{% static 'js/review_list.js' %}"></script>
{% endblock javascript %}