{% extends 'review/_split_view.html' %}
{% load static %}

{% block left_col %}
<h1 class="fw-bold lh-1 mb-3 pb-2">Peer Review Meetings</h1>
<div class="list-group">
{% for review in session_list %}
<a href="{{ review.get_ajax_url }}" class="list-group-item list-group-item-action review_link">
    <div class="row justify-content-between">
        <div class="col-8">
        <h5 class="mb-1">Meeting on {{ review.date_created | date:"l j/n/Y" }}</h5>
        </div>
        {% if review.open or review.interaction_reviews.all %}
        <div class="col-4 text-end">
        {% if review.open %}
        <span class="badge bg-danger rounded-pill">Live</span>
        {% endif %}
        {% if review.interaction_reviews.all %}
        <span class="badge bg-primary rounded-pill ms-1">
            {{ review.interaction_reviews.all.count }} Article{{ review.interaction_reviews.all.count|pluralize }}
        </span>
        {% endif %}
        </div>
        {% endif %}
    </div>
    {% if review.host %}
    <p class="mb-1">Session host: {{ review.host.username }}</p>
    {% endif %}
    {% if review.user_list.all %}
        <small class="text-muted">Participant{{ review.user_list.all|pluralize }}: {{ review.user_list_string }}</small>
    {% endif %}
</a>
{% endfor %}
</div>
{% endblock left_col %}

{% block right_col %}
<div class="p-4 p-md-5 border rounded-3">
    <div class="d-flex align-items-center" id="display-pane">
        <p>Placeholder Content</p>
    </div>
</div>
{% endblock right_col %}

{% block javascript %}
<script src='{% static 'js/session.js' %}'></script>
{% endblock javascript %}