{% extends 'review/_split_view.html' %}
{% load static %}

{% block left_col %}
<h1 class="fw-bold lh-1 mb-3 pb-2">Peer Review Meetings</h1>
<div class="list-group">
{% for session in session_list %}
<a href="{{ session.get_absolute_url }}" class="{% if forloop.first %}active {% endif %}list-group-item list-group-item-action review_link" ajax="{{ session.get_ajax_url }}">
    <div class="row justify-content-between">
        <div class="col-8">
        <h5 class="mb-1">Meeting on {{ session.date_created | date:"l j/n/Y" }}</h5>
        </div>
        {% if session.open or session.reviews.all %}
        <div class="col-4 text-end">
        {% if session.open %}
        <span class="badge bg-danger rounded-pill">Live</span>
        {% endif %}
        {% if session.reviews.all %}
        <span class="badge bg-dark rounded-pill ms-1">
            {{ session.reviews.all.count }} Article{{ session.reviews.all.count|pluralize }}
        </span>
        {% endif %}
        </div>
        {% endif %}
    </div>
    {% if session.host %}
    <p class="mb-1">Session host: {{ session.host.username|capfirst }}</p>
    {% endif %}
    {% if session.user_list.all %}
        <small>Participant{{ session.user_list.all|pluralize }}: {{ session.user_list_string }}</small>
    {% endif %}
</a>
{% endfor %}
</div>
{% endblock left_col %}

{% block right_col %}
<div class="pt-2 pt-md-3" id="display-pane">
    {% with session_list|first as session %}
    {% with session.reviews.all as review_list%}
    {% include 'review/fragments/review_preview.html' %}
    {% endwith %}
    {% endwith %}
</div>
{% endblock right_col %}

{% block javascript %}
<script src='{% static 'js/session.js' %}'></script>
{% endblock javascript %}