{% extends '_base.html' %}

{% block content %}
<div class="container px-4 py-5">
    <div class="row align-items-center d-flex px-4 px-md-2">
        <div class="col-md-4">
            <h1 class="display-5 fw-bold lh-1 mb-3 text-break">{% block heading %}{% endblock heading %}</h1>
            {% block subheading %}{% endblock subheading %}
            <p class="lead">{% block description %}{% endblock description %}</p>
        </div>
        <div class="list-group col-md-8">
            {% block item_loop %}
            {% endblock item_loop %}
        </div>
    </div>
</div>
{% endblock content %}