{% extends 'reactions/_item_list.html' %}
{% load static %}

{% block heading %}{{ condition.name | capfirst }}{% endblock heading %}

{% block subheading %}
{% if condition.aliases %}
<small class="text-muted">Also known as: {{ condition.aliases }}</small>
{% endif %}
{% if condition.description %}
<p class="col-lg-10 fs-4">Description:</p>
<p>{{ condition.description }}</p>
{% endif %}
{% endblock subheading %}

{% block item_loop %}
{% if interactions %}
<h6 class="text-muted">Strongly associated with:</h6>
<div class="list-group">
    {% for interaction in interactions %}
    <a href="{{interaction.get_absolute_url}}"
        class="list-group-item list-group-item-action list-group-item-primary d-flex gap-3 py-3" aria-current="true">
        <img src="{% static 'images/prescription.svg' %}" alt="clipboard" width="32" height="32" class=" flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h6 class="mb-0">{{interaction.name | capfirst}}</h6>
                {% for drug in interaction.drugs.all %}
                <p class="mb-0 opacity-75">{{drug.name | capfirst}}</p>
                {% endfor %}
                <small class="opacity-50 text-nowrap">{{condition.date_modified}}</small>
            </div>

        </div>
    </a>
    {% endfor %}
</div>
{% endif %}
{% if secondary_interactions %}
<h6 class="text-muted">Theoretical association with:</h6>
<div class="list-group">
    {% for interaction in secondary_interactions %}
    <a href="{{interaction.get_absolute_url}}"
        class="list-group-item list-group-item-action list-group-item-secondary d-flex gap-3 py-3" aria-current="true">
        <img src="{% static 'images/prescription.svg' %}" alt="clipboard" width="32" height="32" class=" flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h6 class="mb-0">{{interaction.name | capfirst}}</h6>
                {% for drug in interaction.drugs.all %}
                <p class="mb-0 opacity-75">{{drug.name | capfirst}}</p>
                {% endfor %}
                <small class="opacity-50 text-nowrap">{{condition.date_modified}}</small>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endif %}
{% if condition.sources.all %}
<button class="btn btn-outline-primary mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#source-list"
    aria-expanded="false" aria-controls="source-list">
    View references
</button>
<div class="collapse" id="source-list">
    <div class="row">
        {% for source in condition.sources.all %}
        <div class="col-12">
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">{{ source.name }}</h5>
                    <p class="card-text">
                        {{ source.publication }}
                        {% if source.year %}<small class='text-muted'>{{ source.year }}</small>{% endif %}
                    </p>
                    {% if source.url %}<a href="{{source.url}}"
                        class="text-decoration-none">{{ source.url }}</a>{% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock item_loop %}