{% extends 'reactions/_item_list.html' %}
{% load static %}

{% block heading %}{{ condition.name | capfirst }}{% endblock heading %}

{% block subheading %}
{% if condition.aliases %}
<small class="text-muted">Also known as: {{ condition.aliases }}</small>
{% endif %}
{% if condition.description %}
<p class="col-lg-10 fs-4">Description: {{ condition.description }}</p>
{% endif %}
{% endblock subheading %}

{% block item_loop %}
{% if interactions %}
{% for interaction in interactions %}
<a href="{{interaction.get_absolute_url}}" class="list-group-item list-group-item-action d-flex gap-3 py-3"
    aria-current="true">
    <img src="{% static 'images/prescription.svg' %}" alt="clipboard" width="32" height="32" class=" flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
            <h6 class="mb-0">{{interaction.name | capfirst}}</h6>
            {% for drug in interaction.drugs.all %}
            <p class="mb-0 opacity-75">{{drug.name | capfirst}}</p>
            {% endfor %}
            <small class="opacity-50 text-nowrap">{{condition.date_modified}}</small>
        </div>

    </div>
</a>
{% endfor %}
{% endif %}
{% if condition.sources.all %}
<div class="p-4 p-md-5 border rounded-3 bg-light">
    <hr class="my-4">
    <h6 class="text-muted">References</h6>
    {% for source in condition.sources.all %}
    <div class="mb-1">
        <small class="text-muted">{{ source.name }}</small>
        {% if source.publication %}<small class="text-muted">Published in {{ source.name }}</small>{% endif %}
        {% if source.url %}<small class="text-muted"><a href="{{source.url}}">{{source.url}}</a></small>{% endif %}
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock item_loop %}