{% extends 'reactions/_detail.html' %}
{% load static %}

{% block article_name %}{{condition.name|capfirst}}{% endblock article_name %}
{% block article_aliases %}{% if condition.aliases %}Also known as: {{condition.aliases}}<br>{% endif %}{% endblock article_aliases %}
{% block article_modified %}Last modified: {{condition.date_modified}}{% endblock article_modified %}

{% block item_loop %}
{% if interactions %}
<h6 class="text-muted">Strong association with:</h6>
<div class="list-group pb-2">
    {% for interaction in interactions %}
    {% include 'reactions/fragments/interaction_list_group.html' with alert="primary" %}
    {% endfor %}
</div>
{% endif %}
{% if secondary_interactions %}
<h6 class="text-muted">Theoretical association with:</h6>
<div class="list-group pb-2">
    {% for interaction in secondary_interactions %}
    {% include 'reactions/fragments/interaction_list_group.html' with alert="secondary" %}
    {% endfor %}
</div>
{% endif %}
{% endblock item_loop %}

{% block article_body %}
{% if condition.tldr %}
<div class="alert {{condition.get_tldr_box_colour}} p-3 p-md-5">
    <h3>TL;DR...</h3>
    {{ condition.tldr_markdown|safe }}
</div>
{% endif %}
{% if condition.see_also.all %}
<div class="alert alert-dark p-3 p-md-5">
<h3>Similar conditions:</h3>
{% for condition in condition.see_also.all %}
<h6><a href="{{condition.get_absolute_url}}" class="text-decoration-none">{{condition.name}}</a></h6>
{% endfor %}
</div>
{% endif %}
<div class="card">
    <div class="card-body p-3 p-md-5">
        {{ condition.description_markdown|safe }}
    </div>
</div>
{% endblock article_body %}

{% block sources %}
{% if condition.sources.all %}
<button class="btn btn-outline-primary mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#source-list"
    aria-expanded="false" aria-controls="source-list">
    View references
</button>
<div class="collapse" id="source-list">
    <div class="row">
        {% for source in condition.sources.all %}
        <div class="col-12">
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">{{ source.name }}</h5>
                    <p class="card-text">
                        {{ source.publication }}
                        {% if source.year %}<small class='text-muted'>{{ source.year }}</small>{% endif %}
                    </p>
                    {% if source.url %}<a href="{{source.url}}"
                        class="text-decoration-none">{{ source.url }}</a>{% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock sources %}