{% extends 'reactions/_item_list.html' %}
{% load static %}

{% block heading %}Drugs{% endblock heading %}
{% block description %}A list of all drugs in the database{% endblock description %}

{% block item_loop %}
{% for drug in drug_list %}
<a href="{{drug.get_absolute_url}}" class="list-group-item list-group-item-action d-flex align-items-center gap-3 py-3" aria-current="true">
    <img src="{% static 'images/prescription.svg'%}" alt="clipboard" width="32" height="32" class=" flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
            <h6 class="mb-0">{{drug.name | capfirst}}</h6>
        </div>
        <span class="badge text-bg-primary">{{ drug.get_condition_count }}</span>
    </div>
</a>
{% endfor %}
{% endblock item_loop %}