{% extends 'reactions/_detail.html' %}
{% load static %}

{% block article_name %}{{ interaction.name | capfirst }}{% endblock article_name %}
{% block article_aliases %}{% if interaction.aliases %}Also known as: {{interaction.aliases}}<br>{% endif %}{% endblock article_aliases %}
{% block article_modified %}Last modified: {{interaction.date_modified}}{% endblock article_modified %}

{% block item_loop %}
{% if interaction.drugs.all %}
<div class="alert alert-primary" role="alert">
    <h6 class="alert-heading">Contraindicated:</h6>
    {% for drug in interaction.drugs.all %}
    <p class=" mb-0">{{drug.name | capfirst}}</p>
    {% endfor %}
</div>
{% endif %}
{% if interaction.secondary_drugs.all %}
<div class="alert alert-secondary" role="alert">
    <h6 class="alert-heading">Use with caution:</h6>
    {% for drug in interaction.secondary_drugs.all %}
    <p class="mb-0 opacity-75">{{drug.name | capfirst}}</p>
    {% endfor %}
</div>
{% endif %}
{% endblock item_loop %}

{% block article_body %}
{% if interaction.conditions.all %}
<div class="alert alert-danger mb-3" role="alert">
    <h5 class="alert-heading">Susceptible conditions</h4>
    <p class="mb-0">{{ interaction.get_condition_string | capfirst }}</p>
  </div>
{% endif %}
{% if interaction.secondary_conditions.all %}
<div class="alert alert-secondary mb-3" role="alert">
    <h5 class="alert-heading">Theoretically associated conditions</h4>
    <p class='mb-0'>{{ interaction.get_secondary_condition_string | capfirst }}</p>
  </div>
{% endif %}
{{ interaction.description_markdown|safe }}
{% endblock article_body %}

{% block sources %}
{% if interaction.sources.all %}
<hr class="my-4">
<h6 class="text-muted"></h6>
<button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
    data-bs-target="#source-list" aria-expanded="false" aria-controls="source-list">
    View references
</button>
<div class="collapse" id="source-list">
    <div class="row">
        {% for source in interaction.sources.all %}
        <div class="col-12">
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">{{ source.name }}</h5>
                    <p class="card-text">
                        {{ source.publication }}
                        {% if source.year %}<small
                            class='text-muted'>{{ source.year }}</small>{% endif %}
                    </p>
                    {% if source.url %}<a href="{{source.url}}"
                        class="text-decoration-none">{{ source.url }}</a>{% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock sources %}