{% extends '_base.html' %}

{% block title %}Search{% endblock title %}

{% block content %}
<div class="container bg-light p-5 rounded-lg m-3">
    <div class="row justify-content-md-center">
        <form action="{% url 'search_results' %}" method='get' class='d-flex'>
            <div class="mb-3 input-group">
                <input type="search" class="form-control" name='q' placeholder="Condition">
                <div class="input-group-append"><button class="btn btn-outline-success" type='submit'>Search</button>
                </div>

            </div>
        </form>
    </div>
</div>
{% endblock content %}